In [32]:
#var_name = value 
my_name = 'Elisa'
age = 22

In [33]:
_my_name = 'ee'
_ = 'ee'

In [34]:
print(_) #prints value
_ #also shows type

ee

'ee'

In [35]:
age

22

#Basic data types: bool int float str (not char, they are strings instead)

In [36]:
boolval = True
boolval2 = False
pi = 3.141592
print(type(boolval), type(pi))

<class 'bool'> <class 'float'>

#OPERATORS: + - * / % **(esponenziale)

In [37]:
#even if divido due interi ho un float
half = 1/2
print(half)

0.5

In [38]:
2**3

8

In [39]:
81%2

1

In [41]:
'apple' * 3

'appleappleapple'

In [45]:
#how to convert in to string
ciao ='my age is ' + str(age)
print(ciao)

my age is22

In [46]:
float(1)

1.0

In [47]:
int(1.32)

1

#index is zero-based --> [0,1,2,...]
reversed index: al primo assegna -1 e va a calare, cioè -2,-3,... [..., -3, -2,-1]

In [48]:
my_name[0:3] #la quarta lettera è ESCLUSA --> stampa le prime tre

'Eli'

In [52]:
my_name[2:3]

'i'

In [53]:
my_name[-1:]

'a'

In [60]:
my_name[-4:3]

'li'

In [63]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [67]:
max(1,4,7,)

7

In [69]:
max('Elisa', 'Totoro')

'Totoro'

In [70]:
min('Elisa', 'Totoro')

'Elisa'

In [71]:
len(my_name[:3])

3